<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ajiatech.mapper.AjiaItemCatMapper" >
	<resultMap type="com.ajiatech.pojo.AjiaItemCat" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="parent_id" property="parentId"/>
		<result column="name" property="name"/>
		<result column="status" property="status"/>
		<result column="sort_order" property="sortOrder"/>
		<result column="is_parent" property="isParent"/>
		<result column="created" property="created"/>
		<result column="updated" property="updated"/>
	</resultMap>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select * from ajia_item_cat where id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.ajiatech.pojo.AjiaItemCat">
		insert into ajia_item_cat(id,parment_id,name,status,sort_order,is_parent,created,updated) values
		(#{id},#{parentId},#{name},#{status},#{sortOrder},#{isParent},#{created},#{updated})
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.ajiatech.pojo.AjiaItemCat">
		update ajia_item_cat set id=#{id},parent_id=#{parentId},name=#{name},status=#{status},sort_order=#{sortOrder},is_parent=#{isParent},created=#{created},updated=#{updated}
		where id=#{id}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete form ajia_item_cat where id=#{id}
	</delete>
</mapper>